<a href="https://colab.research.google.com/github/Jerin2004/Lect-16-CIPHER-SCHOOL-/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working with Data usng Pandas

In [1]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

Creating a DataFrame from a List of Dictionaries

In [2]:
data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'London'},
    {'Name': 'Charlie', 'Age': 28, 'City': 'Paris'}
]

df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

Creating a DataFrame from a CSV file

In [ ]:
# Assuming 'data.csv' is a csv file in current directory
df = pd.read_csv('dataset.csv')

print(df)

Viewing Data

In [ ]:
# Display the first few rows(5)
print(df.head())

In [ ]:
# Display the last few rows
print(df.tail())

In [ ]:
# Getting information about the DataFrame
print(df.info())

In [ ]:
# Descriptive Statistics
print(df.describe())

Selecting Column

In [ ]:
# Selecting the single column
print(df['Name'])

In [ ]:
# Selectiong multiple column
print(df[['Name', 'Age']])

Filtering Rows

In [ ]:
# Filtering rows based on a condition
print(df[df['Age'] > 30])

Adding new column

In [ ]:
# Adding a new column
df['Country'] = 'USA'

print(df)